<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>
</head>
<body>
    <div>
        {% block content %}
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid a quisquam voluptatum cupiditate, nulla asperiores rerum! Quidem rerum fugiat fugit dolor illo magnam, dolore atque quos vero sed quia dicta.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ipsam deleniti sequi error dolores non quibusdam officia reiciendis, deserunt natus fugit porro esse explicabo a, iure aliquid! Quidem, cum aut?Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sint ipsum repudiandae similique sit at eligendi deserunt, voluptatibus modi minus molestias corrupti harum reprehenderit. Vitae quam reiciendis autem adipisci quo?
        {% endblock %}
    </div>
</body>
</html>