{% extends "main/base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}
    <h1 style="text-align: center;">Use EEE rule</h1>
    <h4>Dont Know what is EEE rule?</h4>
    <P>
        We bring to you a Modern todo app. Where you'll add daily tasks.
        <br>
        Make your life more:<ul>
                                <li>Easier</li>
                                <li>Effective</li>
                                <li>Efficient</li>
                            </ul>
                            <br><hr>
        <h4>Wanna know how to use it?</h4>
        <p>You need nothing but a email. Go to signup and create an account. <br> Already have an account? <o-n>Great.</o-n>  <br> Go To Login and login with your account <o-n>And...</o-n> now you can add your tasks from list.</p>
    </P>
{% endblock %}

